@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
    transition: all 0.8s;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s;
  }
}
.flex-wrap {
  background: white;
  color: black;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .flex-wrap {
    color: #efefef;
    background: #A17647;
  }
}